<div class="container" *ngIf="!reservationVisible">
    <br>
    <div class="row">

        <div class="col s3">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h5>Buscar</h5>
                </li>
                <li class="collection-item">
                    <input type="date" [(ngModel)]="filterDateEntry">
                    <span class="helper-text" data-error="wrong" data-success="right">Fecha de ingreso</span>
                </li>
                <li class="collection-item">
                    <input type="date" [(ngModel)]="filterDateExit" required>
                    <span class="helper-text" data-error="wrong" data-success="right">Fecha de salida</span>
                </li>
                <li class="collection-item">
                    <input type="number" [(ngModel)]="filterTotalPerson" required>
                    <span class="helper-text" data-error="wrong" data-success="right">Cantidad de personas</span>
                </li>
                <li class="collection-item">
                    <select class="browser-default" [(ngModel)]="filterCity">
                        <option value="Medellin">Medellín</option>
                        <option value="Bogota">Bogotá</option>
                        <option value="Barranquilla">Barranquilla</option>
                    </select>
                    <span class="helper-text" data-error="wrong" data-success="right">Ciudad de destino</span>
                </li>
                <li class="collection-item">
                    <button class="btn waves-effect waves-light" name="action" [disabled]="validateFilters()"
                        (click)="showHotels()">Enviar
                        <i class="material-icons right">chevron_right</i>
                    </button>
                </li>
            </ul>
        </div>

        <div class="col s4 blue lighten-5" *ngFor="let hotel of hotels">
            <div class="row">
                <div class="col s12 m6 l12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="https://r-cf.bstatic.com/images/hotel/max1024x768/180/180804529.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{hotel.name}}<i
                                    class="material-icons right">more_vert</i></span>
                            <ul class="collection">
                                <li class="collection-item">{{hotel.address}}</li>
                                <li class="collection-item">{{hotel.country}} - {{hotel.departament}} -
                                    {{hotel.city}} </li>
                                <li class="collection-item">{{hotel.telephone}} - {{hotel.cellphone}}</li>
                                <li class="collection-item" *ngIf="hotel.ranking == 1">
                                    <i class="material-icons left">star</i>
                                </li>
                                <li class="collection-item" *ngIf="hotel.ranking == 2">
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                </li>
                                <li class="collection-item" *ngIf="hotel.ranking == 3">
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                </li>
                                <li class="collection-item" *ngIf="hotel.ranking == 4">
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                </li>
                                <li class="collection-item" *ngIf="hotel.ranking == 5">
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                    <i class="material-icons left">star</i>
                                </li>
                            </ul>
                        </div>
                        <div class="card-reveal" id="rooms">
                            <span class="card-title grey-text text-darken-4">Habitaciones<i
                                    class="material-icons right">close</i></span>
                            <div class="col s12 m6 l12" *ngFor="let room of hotel.rooms">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator"
                                            src="https://r-cf.bstatic.com/images/hotel/max1024x768/180/180804529.jpg">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4">{{room.type}}</span>
                                        <span
                                            class="card-subtitle activator grey-text text-darken-4">{{room.description}}</span>
                                        <ul class="collection">
                                            <li class="collection-item">$ {{room.price}}</li>
                                        </ul>
                                        <ul class="collection">
                                            <li class="collection-item">{{room.capacity}} Personas</li>
                                        </ul>
                                        <button class="btn waves-effect waves-light" name="action"
                                            (click)="startReservation(hotel,room)"
                                            [disabled]="validateFilters()">Iniciar reserva
                                            <i class="material-icons right">chevron_right</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="reservationVisible">
    <br>
    <div class="container  teal lighten-2">
        <br>
        <div class="container #ffffff white">
            <div class="row">
                <h5 style="padding: 4%;">Agrega los huespedes a tu reserva<i class="material-icons right"
                        (click)="closeAddReservation()">close</i></h5>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Nombres</span>
                        <input id="firstName" type="text" class="validate" [(ngModel)]="person.name">
                    </div>
                    <div class="input-field col s6">
                        <span>Apellidos</span>
                        <input id="secondName" type="text" class="validate" [(ngModel)]="person.lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Tipo de Documento</span>
                        <select class="browser-default" id="documentType" [(ngModel)]="person.documentType">
                            <option value="CC">Cedula de ciudadania</option>
                            <option value="TI">Tarjeta de identidad</option>
                            <option value="CE">Cedula de extrangeria</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <span>Documento</span>
                        <input id="numberDocument" type="number" class="validate" [(ngModel)]="person.documentNumber">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Email</span>
                        <input id="email" type="email" class="validate" [(ngModel)]="person.email">
                    </div>
                    <div class="input-field col s6">
                        <span>Tefélefo</span>
                        <input id="telephone" type="tel" class="validate" [(ngModel)]="person.telephone">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Género</span>
                        <select class="browser-default" id="gender" [(ngModel)]="person.gender">
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" name="action" (click)="addPerson()" [disabled]="validateAddPerson()">Agregar
                            huesped
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5 style="padding: 4%;">Huespedes</h5>
                    </li>
                    <li class="collection-item" *ngFor="let pers of persons">
                        <div>{{pers.name}} {{pers.lastName}}<a class="secondary-content" (click)="deletePerson(pers)"><i
                                    class="material-icons">delete</i></a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container #ffffff white">
            <div class="row">
                <h5 style="padding: 4%;">Contacto de emergencia</h5>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Nombres</span>
                        <input id="firstNameEmergency" type="text" class="validate" [(ngModel)]="contactEmergency.name">
                    </div>
                    <div class="input-field col s6">
                        <span>Apellidos</span>
                        <input id="secondNameEmergency" type="text" class="validate"
                            [(ngModel)]="contactEmergency.lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Tefélefo</span>
                        <input id="telephoneEmergency" type="tel" class="validate"
                            [(ngModel)]="contactEmergency.telephone">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" [disabled]="validateReservation()" name="action"
                            (click)="finishReservation()">Finalizar
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>