<div class="container" *ngIf="!informationHotel && !showReservation">
    <div class="row">
        <div class="col s12">
            <a class="btn-floating btn-large waves-effect teal lighten-2" (click)="showAddHotel()"><i
                    class="material-icons">add</i></a>
            <a class="btn-floating btn-large waves-effect teal lighten-2" (click)="showReservations()"><i
                    class="material-icons">list</i></a>
        </div>
        <br> <br> <br>
        <div class="col s12">
            <div class="col s4 blue lighten-5" *ngFor="let h of hotels">
                <div class="row">
                    <div class="col s12 m6 l12">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://r-cf.bstatic.com/images/hotel/max1024x768/180/180804529.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{h.name}}</span>
                                <button class="btn teal lighten-2" (click)="showEditHotel(h)">Editar
                                    <i class="material-icons right">create</i>
                                </button><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="informationHotel">
    <br>
    <div class="container  teal lighten-2">
        <br>
        <div class="container #ffffff white">
            <div class="row">
                <h5 style="padding: 4%;">Información de hotel<i class="material-icons right"
                        (click)="closeEditHotel()">close</i></h5>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Nombre</span>
                        <input id="name" type="text" class="validate" [(ngModel)]="hotel.name">
                    </div>
                    <div class="input-field col s6">
                        <span>País</span>
                        <select class="browser-default" id="city" [(ngModel)]="hotel.country">
                            <option value="Colombia">Colombia</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Departamento</span>
                        <select class="browser-default" id="departament" [(ngModel)]="hotel.departament">
                            <option value="Antioquia">Antioquia</option>
                            <option value="Caldas">Caldas</option>
                            <option value="Atlantico">Atlántico</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <span>Ciudad</span>
                        <select class="browser-default" id="country" [(ngModel)]="hotel.city">
                            <option value="Medellin">Medellin</option>
                            <option value="Barranquilla">Barranquilla</option>
                            <option value="Manizales">Manizales</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Dirección</span>
                        <input id="address" type="text" class="validate" [(ngModel)]="hotel.address">
                    </div>
                    <div class="input-field col s6">
                        <span>Tefélefo</span>
                        <input id="telephone" type="tel" class="validate" [(ngModel)]="hotel.telephone">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Ranking</span>
                        <select class="browser-default" id="ranking" [(ngModel)]="hotel.ranking">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <span>Estado</span>
                        <select class="browser-default" id="state" [(ngModel)]="hotel.state">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" *ngIf="!btnEditHotel" (click)="saveChanges()"
                            [disabled]="validateEditHotel()"> Guardar
                            <i class="material-icons right">save</i>
                        </button>
                        <button class="btn waves-effect waves-light" *ngIf="btnEditHotel" (click)="saveChanges()"
                            [disabled]="validateEditHotel()">
                            Editar
                            <i class="material-icons right">create</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container #ffffff white" *ngIf="formRoom">
            <div class="row">
                <h5 style="padding: 4%;">Información de habitación<i class="material-icons right"
                        (click)="closeFormRoom()">close</i></h5>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Número</span>
                        <input id="number" type="number" class="validate" [(ngModel)]="room.number">
                    </div>
                    <div class="input-field col s6">
                        <span>Piso</span>
                        <input id="floor" type="number" class="validate" [(ngModel)]="room.floor">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <span>Tipo</span>
                        <select class="browser-default" id="type" [(ngModel)]="room.type">
                            <option value="Individual">Individual</option>
                            <option value="Doble">Doble</option>
                            <option value="Triple">Triple</option>
                            <option value="Cuadruple">Cuádruple</option>
                            <option value="Dormitorios">Dormitorios</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <span>Capacidad</span>
                        <input id="capacity" type="number" class="validate" [(ngModel)]="room.capacity">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <span>Descripción</span>
                        <input id="description" type="text" class="validate" [(ngModel)]="room.description">
                    </div>
                    <div class="input-field col s6">
                        <span>Valor</span>
                        <input id="price" type="number" class="validate" [(ngModel)]="room.price">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <span>Impuestos</span>
                        <input id="taxes" type="number" class="validate" [(ngModel)]="room.taxes">
                    </div>
                    <div class="input-field col s6">
                        <span>Estado</span>
                        <select class="browser-default" id="state" [(ngModel)]="room.state">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s7">
                        <button class="btn waves-effect waves-light" *ngIf="!btnEditRoom" (click)="addRoom()"
                            [disabled]="validateRoom()">Agregar
                            habitación
                            <i class="material-icons right">add</i>
                        </button>
                        <button class="btn waves-effect waves-light" *ngIf="btnEditRoom" (click)="editRoom()"
                            [disabled]="validateRoom()">Actualizar
                            habitación
                            <i class="material-icons right">check</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>Habitaciones</h5>
                    </li>
                    <li class="collection-item">
                        <a class="btn-floating btn-Tiny waves-effect teal lighten-2"><i class="material-icons"
                                (click)="showAddRoom()">add</i></a>
                    </li>
                    <li class="collection-item" *ngFor="let r of hotel.rooms">
                        <div>#{{r.number}} P{{r.floor}} - {{r.type}} <a class="secondary-content"
                                (click)="showEditRoom(r)"><i class="material-icons">create</i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="showReservation">
    <div class="row">
        <div class="col s12">
            <a class="btn-floating btn-large waves-effect teal lighten-2" (click)="closeShowReservation()"><i
                    class="material-icons">arrow_back</i></a>
        </div>
        <br> <br> <br>
        <div class="col s12">

            <div class="row">
                <div class="col s7 push-s5">

                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h5>Detalles</h5>
                        </li>
                        <li class="collection-item" *ngFor="let dr of dataReservation">
                            <div class="col s12 m12">
                                <div class="card horizontal">
                                    <div class="card-stacked">
                                        <div class="card-content">
                                            <div>Fecha de ingreso: {{dr.dateEntry}}</div>
                                            <div>Fecha de salida: {{dr.dateExit}} </div>
                                            <div>{{dr.totalPersons}} personas</div>

                                            <li class="collection-header">
                                                    <h6>Contacto de emergencia:</h6>
                                                </li>
                                                <div>{{dr.contactEmergency.name}} {{dr.contactEmergency.lastName}}</div>
                                                <div>{{dr.contactEmergency.telephone}}</div>

                        <li class="collection-header">
                            <h6>Huespedes</h6>
                        </li>
                        <div class="col s12 m12" *ngFor="let drp of dr.persons">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div>{{drp.name}} {{drp.lastName}}</div>
                                        <div>{{drp.documentType}} {{drp.documentNumber}}</div>
                                        <div>{{drp.telephone}} {{drp.email}}</div>
                                        <div>{{drp.gender}}</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </li>
    </ul>
</div>
<div class="col s5 pull-s7">
    <div class="collection" *ngFor="let h of hotels">
        <div *ngFor="let ro of h.rooms">
            <div *ngIf="ro.reservations != null">
                <div *ngIf="ro.reservations.length>0">
                    <a (click)="showDetailsReservation(ro.reservations)" class="collection-item">{{ro.number}}
                        ({{h.name}})</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>