<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <a href="#!" class="brand-logo">TouringApp</a>

            <ul class="right hide-on-med-and-down">
                <li><a (click)="btnHome()"><i class="material-icons">view_module</i></a></li>
                <li><a (click)="btnLogin()"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</div>
<br>
<router-outlet></router-outlet>