<div class="container">
    <div class="row">
        <div class="col s4 push-s8 teal lighten-2" style="padding: 4%;">
            <div class="row #ffffff white">
                <h6 style="padding: 3%;">Inicio de session</h6>

                <div class="input-field col s12">
                    <input id="first_name2" type="text" class="validate" [(ngModel)]="user.email">
                    <label class="active" for="first_name2">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" [(ngModel)]="user.password">
                    <label class="active" for="password">Contraseña</label>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" name="action" (click)="login()" [disabled]= "validate()">Iniciar
                    </button>
                </div>
            </div>
        </div>
        <div class="col s8 pull-s4">

            <img src="https://i.ibb.co/mJYnCWt/Hilton-llega-a-su-hotel-500-con-homewoods-republica-dominicana.jpg"
                alt="" srcset="" width="100%">

        </div>
    </div>
</div>